.list-todo-container {
  button {
    cursor: pointer;
  }
  .add-todo {
    .btnAdd {
      margin: 5px;
    }
  }
  .list-todo-content {
    width: 400px;
    margin: 0 auto;
    .todo-child {
      &:first-child {
        border-top: 1px solid gray;
      }
      height: 100px;
      border-bottom: 1px solid gray;
      margin: 10px;
      .btnEdit {
        margin: 10px;
      }
    }
  }
}
